body {
    height: 100vh;
    margin:0px;
  }
* {
    box-sizing: border-box;
}
#canvas {
    border: 1px solid gray;
}
i[class*=icon-] {
    display: inline-block;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    font-stretch: normal;
    font-family: iconfont;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.father {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: scroll;
    margin: 0 auto;
}

/* module */
.basemodule {
    z-index: 2;
}
.module-delete {
    display: none;
    position: absolute;
    right: -32px;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    color: #dfdfdf;
    font-size: 23px;
    background-color: transparent;
    text-align: right;
}
.module-delete:hover {
    cursor: pointer;
}
.basemodule:hover .module-delete {
    display: block;
}
.basemodule:hover {
    cursor: move;
}
/* 模块在拖拽时层级最高 */ 
.basemodule.isMoving {
    z-index: 100;
}



/* 开始和结束模块 */
.last-module .title-wraper,.first-module .title-wraper{
    width: 90px;
    background: #fff;
    border: 1px solid #dadada;
    color: #484848;
}
.last-module .hasLeftSepa::before,
.first-module .hasLeftSepa::before{
    background-color: #e0e0e0; 
}
.hasLeftMargin {
    margin-left: 10px;
}

/* module children */
.hasChildren .title-wraper {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.children-wraper {
    border: 1px solid #d6d6d6;
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.children-wraper .title-text {
    max-width: 136px;
}

.children-wraper .basemodule .title-wraper {
    width: 160px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #484848;
}
.children-wraper .basemodule + .basemodule {
    border-top: 1px solid #d6d6d6;
}
.children-wraper .basemodule:last-child .title-wraper {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* module-title */
.title-wraper {
    position: relative;
    display: flex;
    align-items: center;
    width: 162px;
    height: 36px;
    color: #fff;
    background-color: rgba(18, 210, 203, 0.9);
    font-size: 14px;
    border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ivricon {
    display: inline-block;
    text-align: center;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
}
.title-text {
    display: inline-block;
    max-width: 110px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hasLeftSepa::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    width: 1px;
    margin-right: 6px;
    background-color: #fff; 
}



/* module 拖拽节点 */
.dragableRect {
    content: '';
    position: absolute;
    right: -6px;
    top: 12px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px solid #dddddd;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.dragableRect.leftRect {
    left: -7px;
    background-color: #dddddd;
}
.dragableRect.rightRect.connected {
    cursor: default;
}

.dragableRect:hover {
    cursor: pointer;
}

/* 拖拽模块时元素显示 */
#copyMove {
    position: absolute;
    left: 0px;
    top: -2000px;
    opacity: 0;
    pointer-events: none;
}

/* 选中线后删除图标 */
.delete-line {
    position: absolute;
    width: 23px;
    height: 23px;
    font-size: 23px;
    cursor: pointer;
    color: #d2d2d2;
    z-index: 102;
}

/* 总节点展示 */
.nodes {
    position: fixed;
    left: 50%;
    top: 430px;
    z-index: 0;
    transform: translateX(-50%);
    pointer-events: none;
    color: #2c333b;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.all-nodes,
.connected-nodes {
    display: inline-block;
    position: relative;
}
.connected-nodes {
    margin-left: 46px; 
}
.connected-nodes::before,
.all-nodes::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border: 1px solid #c9c9c9;
    border-radius: 100%;
}

.all-nodes::before {
    background-color: #fff;
}
.connected-nodes::before {
    border-color: #12d2cb;
    background-color: #12d2cb;
}


/* 页面button */
.button {
    display: inline-block;
    border: 1px solid;
    width: 350px;
    line-height: 2;
    background-color: lightblue;
    text-align: center;
}